<h4><label style="color:red; font-weight:750">him/her link:</label></h4>

<div class="form-group" style="color:black; font-weight: 750">
    <label style="color:black; font-weight: 450"><%=@contact.name%></label><br/>
	<label style="color:black; font-weight: 450"><%=@contact.position%></label><br/>
	<label style="color:black; font-weight: 450"><%=@contact.company%></label><br/>
</div>

<h5><label style="color:red; font-weight:650">Comments about him(her):</label></h5>
<div class="form-group" style="color:black; font-weight: 100">
   <%@comment.each do |com|%> 
		<label style="color:black; font-weight: 100"><%=com.comment%></label><br/>
        <label style="color:black; font-weight: 150"><%=com.author%>. addeted at:<%=com.addeted%></label><br/>
   <%end%>
   
</div>


 <h5><label style="color:red; font-weight:750">You can add comment:</label></h5>
 <div class="form-group" style="color:black; font-weight: 750">
 <form action = "/list/<%=@contact.id%>" method = "POST" role = "form">
  <textarea name = "comment[comment]" placeholder="add your comment please" style="border-color:red" cols ="75" rows="5" required></textarea></br>
 
  <h5><label style="color:red; font-weight:750">Introduce name:</label></h5>
  <input name = "comment[author]" placeholder="Enter your name" style="border-color:red" required></br>
  </br>
  
  <button type="submit" class="btn btn-danger btn-sm">SAVE</button>
</form>
 
 </div>